<li>
  <span class="created_by"><%= message.user.nil? ? "User" : message.user.email %></span>	
  <span class="created_at"><%#= message.created_at.to_s(:short) %></span>
  <%= message.content %>
</li>
