<% publish_to "/versions/#{@version.id}/messages/new" do %>
  var newMessage = $(" <div> <%= j render(@message) %> </div>");
  newMessage.hide();
  $("#chat_message_list").append(newMessage);
  newMessage.slideDown();
  $("#message_content").val('');
<% end %>