<% content_for :head do %>
  <%= stylesheet_link_tag 'song_room_new' %>
  <%= javascript_include_tag 'jquery.placeholder.min' %>
<% end %>

<section class="main">
<h1>New song_room</h1>

<%= render 'form' %>

<%= link_to 'Back', :back %>

</section>
