<% content_for :head do %>
  <%= stylesheet_link_tag 'song_room_new' %>
  <%= javascript_include_tag 'jquery.placeholder.min' %>
<% end %>

<section class="main">
  <%= link_to image_tag("logo_banner-azul.png", class: "logo-banner"), user_home_url() %>

  <%= render 'form' %>
</section>
