<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_song_upload.user_id %>
</p>


<%= link_to 'Edit', edit_user_song_upload_path(@user_song_upload) %> |
<%= link_to 'Back', user_song_uploads_path %>
